@import "~bootstrap/scss/bootstrap";

.test-card {
  .card-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .star-review-body {
    .rating-description {
      padding-top: 15px;
      text-align: center;
    }
  }

  .review-title {
    text-align: center;
  }

  .result-header {
    text-align: center;
  }
}
